[submodule "upstream/qemu"]
	path = upstream/qemu
	url = git://git.qemu.org/qemu.git
  ignore = dirty
[submodule "upstream/linux"]
	path = upstream/linux
	url = git@github.com:Lophilo/linux.git
  ignore = dirty
