Package: lophilo-v8
Version: 3.9.7-1
Section: base
Priority: optional
Architecture: armel
Depends: libc6
Maintainer: Ricky Ng-Adam (rngadam@lophilo.com)
Description: v8 browser
  Executes Javascript!
