Package: codesourcery-arm
Version: 2011.09-1
Section: base
Priority: optional
Architecture: i386
Depends: libc6
Maintainer: Ricky Ng-Adam (rngadam@lophilo.com)
Description: Codesourcery cross-compiler Intel/Linux for ARM
	https://sourcery.mentor.com/sgpp/lite/arm/portal/release2032
